body, html {	/*the outer layer of the site and global style attributes*/
font-family: 'Montserrat', sans-serif;
margin: 0px;
height: 100%;
width: 100%;
background: white;
position: relative;
}

/* SIDEBAR */
#sidebar {
    height: 100%; 
    width: 80px; 
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: #f7f5f2;
    box-shadow: 4px 0px #BAB8B6;
}

#sidebar a {
    padding-right: 15px;
    padding-left: 15px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    transition: .2s;
}


.chunk {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.highlight {
    opacity: 0.5;
}


/* GENERAL */
.section {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.35fr .65fr;
    height: 100%;
}

.small-blurb {
    background-color: rgba(186, 184, 182, 0.6);
    width: 480px;
    height: 350px;
    
    z-index: 2;
    left: 900px;
    top: 330px;
    position: relative;

    display: flex;
    flex-direction: column;
}

.blurb-title {
    opacity: 1.0;
    color: #f7f5f2;
    font-size: 48px;
    padding: 20px;
    padding-left: 100px;
    padding-right: 40px;
    
    margin: 0px;
}

.blurb-description {
    color: #f7f5f2;
    padding: 20px;
    padding-left: 100px;
    padding-right: 40px;
    margin: 0px;
    font-size: 20px;
}

.img-format {
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100%;
}


/* HERO IMAGE */
#hero {
    background-image: url("../img/fromabove.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100%;
}

#main-title {
    display: none;
    text-align: right;
}

#names {
    display: none;
    text-align: right;
}

/* IDEA IMAGE */
#idea {

}

#idea-blurb {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: rgba(105, 202, 244, 0.75);
    height: 100%;
    grid-row-start: 1;
    /*opacity: 0.4;*/
    position: relative;
}



/* BUILD IMAGE */
#build {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.70fr .30fr;
    height: 100%;
}

#build-blurb {
    background-color: rgba(193, 147, 112, 0.95);
    height: 100%;
    margin: none;
    padding: none;
}

#build-title {
    opacity: 1.0;
    color: #f7f5f2;
    font-size: 48px;
    padding: 20px;
    margin: 0px;
}

#build-description {
    color: #f7f5f2;
    padding: 20px;
    margin: 0px;
    font-size: 20px;
}


/* TEST IMAGE*/
#test-blurb {
    background-color: rgba(141, 188, 90, 0.85);
    height: 100%;
}